@page "/counter"

<h1>Counter</h1>

<p>Current count: @currentCount?.ObjectData</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@functions {

  Services.LifeCycleCache<int> currentCount;

  void IncrementCount()
  {
      if (currentCount != null)
          currentCount.ObjectData++;
  }
  protected override async Task OnParametersSetAsync()
  {
      await base.OnParametersSetAsync();

      Console.WriteLine($"Getting saved state: {currentCount?.ObjectData}");
      currentCount = await Services.LifeCycle.GetAppState<int>(name: "Counter", timeout: 1);
      Console.WriteLine($"After getting saved state: {currentCount?.ObjectData}");
  }

  //
}
