@page "/counters"

<h1>Counter</h1>

<p>Current counts: @currentCount.Counter1 , @currentCount.Counter2</p>

<button class="btn btn-primary" onclick="@IncrementCount1">Click me 1</button>
<button class="btn btn-secondary" onclick="@IncrementCount2">Click me 2</button>

@functions {

  MyData currentCount;

  void IncrementCount1()
  {
      currentCount.Counter1++;
  }
  void IncrementCount2()
  {
      currentCount.Counter1++;
  }

  protected override async Task OnParametersSetAsync()
  {
      await base.OnParametersSetAsync();
      try
      {
          currentCount = await Services.LifeCycle.GetAppState<MyData>("Counters");
      }
      catch (Exception)
      {
          currentCount = new MyData();
          Services.LifeCycle.AddToAppState("Counters", currentCount, 1);
      }
  }

  [Serializable]
  class MyData
  {
      public int Counter1;
      public int Counter2;
      public MyData()
      {

      }
  }
  //
}
