@page "/counter"

<h1>Counter</h1>

<p>Current count: @currentCount?.Value</p>

<button class="btn btn-primary" onclick="@IncrementCount">Click me</button>

@functions {

  CounterData currentCount;

  void IncrementCount()
  {
      currentCount.Value++;
  }

  protected override async Task OnParametersSetAsync()
  {
      await base.OnParametersSetAsync();
      try
      {
          Console.WriteLine("TEST: Getting Counter AppState");
          currentCount = await Services.LifeCycle.GetAppState<CounterData>("Counter", 1);
          Console.WriteLine($"TEST: Got Counter AppState {currentCount.Value}");
      }
      catch (Exception)
      {
          Console.WriteLine("TEST: Creating Counter AppState");
          currentCount = new CounterData();
          Services.LifeCycle.AddToAppState("Counter", currentCount, 1);
      }
  }

  [Serializable]
  class CounterData
  {
      public int Value;
  }
  //
}
