@page "/counter"

<h1>Counter</h1>

<p>Current count: @currentCount</p>

<button class="btn btn-primary" onclick="@IncrementCount">Click me</button>

@functions {

        int currentCount;

        void IncrementCount()
        {
            currentCount++;
        }

  protected override async Task OnParametersSetAsync()
    {
        await base.OnParametersSetAsync();
        try
        {
            currentCount = await Services.LifeCycle.GetAppState<int>("Counter", DataSave);
        }
        catch (Exception)
        {
            Services.LifeCycle.AddToAppState("Counter", currentCount, 1, DataSave);
        }
    }
    int DataSave()
    {
        return currentCount;
    }
    //
}
